@media (min-width:576px) {
    .nav{
        padding: 2em 2em;
        &__logo{
            font-size: 4rem;
        }
        &__burger{
            font-size: 4rem;
        }
    }
    .tidbits {
        
    }

   
}