@import './colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	background-color: $white-color;
}


.section-title {
	font-family: 'Gemunu Libre', sans-serif;
	position: relative;
	font-size: 2rem;
	letter-spacing: 2px;
	margin-bottom: 2em;
	padding: 1em;
	text-align: center;
}
.section-title::after {
	content: '';
	position: absolute;
	width: 30%;
	height: 3px;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: $sad-color;
	border-radius: 8px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
// body {
// }

.nav {
	z-index: 2137;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 100%;
	text-transform: uppercase;
	padding: 1.5em 3em;
	text-shadow: 1px 1px 2px #222;
	border-bottom: 2px solid $dark-color;
	background-color: rgba(0, 0, 0, 0.7);
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-family: 'Gemunu Libre', sans-serif;
		font-size: 2rem;
		color: $white-color;
		letter-spacing: 2px;
		cursor: pointer;
		.our {
			color: $main-color;
		}
		&-img{
			object-fit: contain;
			width: 5rem;
			height: auto;
			margin: 0 0.5em;
		}
	}

	&__menu {
		font-weight: 700;
		display: none;
		font-size: 2rem;
		&__item {
			position: relative;
			padding: 0.5em 1em;
			margin: 0 1em;
			text-decoration: none;

			color: $white-color;
			&::before {
				content: '';
				position: absolute;
				height: 3px;
				border-radius: 5px;
				width: 0;
				left: 50%;
				bottom: 5%;
				transform: translateX(-50%);
				transition: 0.3s width ease-in-out;
				background-color: $white-color;
				overflow: hidden;
			}
		}
		&__item:hover::before {
			width: 70%;
		}
	}
	&__burger {
		font-size: 3rem;
		padding: 0.5em 1em;
		color: $white-color;
	}
}
.mobileNav {
	width: 100vw;
	position: fixed;
	height: 100%;
	background-image: url(../img/background/forest-g452652d9a_640.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	z-index: 2139;
	right: 0;
	transform: translate(100%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	transition: 0.3s;

	&__shadow{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color:$main-color-darker;
	}
	&__arrow {
		color: $white-color;
		font-size: 4rem;
		position: absolute;
		top: 10%;
		left: 10%;
		padding: 0.25em 0.4em;
	}
	&__menu {
		
		&-item {
			color: $white-color;
			padding: 0.4em 0.8em;
			text-decoration: none;
			display: block;
			text-transform: capitalize;
			margin: 1em 0.5em;
			position: relative;
			text-align: center;
			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				background: $white-color;
				bottom: 0;
				left: 0;
			}
		}
		&-img{
			object-fit: contain;
			width: 12rem;
			height: auto;
			margin: 0 0.5em;
		}
	}
}
.header {
	height: 100vh;
	width: 100%;
	&__img {
		position: relative;
		background-image: url('../img/background/dolomites-gee42df30d_640.jpg');
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
		&__text {
			font-weight: 300;
			position: absolute;
			top: 50%;
			left: 50%;
			color: $white-color;
			font-size: 2rem;
			.our {
				color: $main-color;
			}
			transform: translate(-50%, -50%);
		}
		&--btn {
			position: relative;
			font-weight: 600;
			display: inline-block;
			background-color: $white-color;
			color: #000;
			margin: 1.5em 1em;
			padding: 0.5em 1em;
			border-radius: 8px;
			border: none;
			font-size: 1.5rem;
			cursor: pointer;
			text-decoration: none;
			overflow: hidden;
			&::before {
				transition: transform 0.3s;
				position: absolute;
				content: '';
				width: 115%;
				height: 100%;
				top: 50%;
				left: -50%;
				transform: translate(-20%, -100%) rotate(-45deg);
				background-color: #5d5d775b;
			}
			&:hover::before {
				transform: translate(80%, 100%) rotate(-45deg);
			}
		}
	}
	&__shadow {
		background-color: rgba(0, 7, 10, 0.62);
		width: 100%;
		height: 100%;
	}
	&__clickIcon {
		cursor: pointer;
		display: none;
		position: absolute;
		bottom: 7%;
		left: 50%;
		transform: translateX(-50%);
		animation: 6s windy infinite linear;
		.fas {
			font-size: 70px;
			color: $white-color;
			position: absolute;
			bottom: 50%;
			left: 50%;
			transform: translate(-55%, 55%);
		}
	}
}

.main {
	.pollution {
		width: 100%;
		height: auto;
		padding: 3em 0;
		padding-bottom: 5.2em;
		background-color: $white-color;
		&__boxes {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-columns: 1fr;
			gap: 2em;
		}
		&__box {
			transform-style: preserve-3d;
			z-index: 202;
			position: relative;
			margin: 0 auto;
			height: 375px;
			width: 250px;
			grid-row: 1/2;
			grid-column: 1/2;
			background-image: url('../img/background/garbage-gfa1a2d140_640.jpg');
			background-repeat: no-repeat;
			background-position: 70% 50%;
			background-size: cover;
			object-fit: contain;
			border-radius: 10px;
			&-shadow {
				width: 100%;
				height: 100%;
				background: rgb(45, 97, 114);
				background: linear-gradient(
					0deg,
					rgba(147, 190, 27, 0.267) 27%,
					rgba(51, 51, 51, 0.822) 65%
				);
				border-radius: 10px;
			}
			&-title {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 3rem;
				color: $white-color;
				transform: translate(-50%, -50%);
				text-shadow: 2px 2px 5px #000;
			}

			p {
				position: absolute;
				width: 100%;
				height: 100%;
				font-size: 1.75rem;
				color: $white-color;
				padding: 1em 1em;
				border-radius: 10px;
				transition: 0.5s;
				opacity: 0;
				z-index: -1;
				@include dark-colorGradient;
				perspective: 500px;
				top:50%;
			
			}
			transition: 0.4s transform;
			&:hover {
				animation: 0.7s hideFromUp forwards;
			}
			&:hover p {
				animation: 0.7s showFromDown forwards;
			}
		}
		&__box1 {
			background-image: url('../img/field-gbba035a20_640.jpg');
			grid-row: 1/2;
			grid-column: 1/2;
		}
		&__box2 {
			background-image: url('../img/power-station-gd3ab7ab9c_640.jpg');
			grid-row: 2/3;
			grid-column: 1/2;
		}
		&__box3 {
			background-image: url('../img/beach-g5f64a85aa_640.jpg');
			grid-row: 3/4;
			grid-column: 1/2;
		}
		&__box4 {
			background-image: url('../img/deforestation-g77feb2a99_640.jpg');
			background-position: 40% 50%;
			grid-row: 4/5;
			grid-column: 1/2;
		}
	}
	.tidbits {
		position: relative;
		background-image: url('../img/background/treeSmall.jpg');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: clamp(300px, 80vh, 550px);
		position: relative;
		&__shadow {
			padding: 4em 2em;
			width: 100%;
			height: 100%;
			background-color: $main-color-darker;
		}
		.section-title {
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%);
			margin-bottom: 0;
			padding-top: 0;
			color: $white-color;
			&::after {
				background: $white-color;
			}
		}
		&__tidbit {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translate(-50%);
			font-style: italic;
			color: $white-color;
			margin: 0 auto;
			padding: 1em 0em;
			text-align: center;
			font-size: 1.8rem;
		}
		&--btn {
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translate(-50%);
			display: inline-block;
			cursor: pointer;
			border-radius: 10px;
			border: none;
			padding: 0.5em 1em;
			font-weight: bolder;
			font-size: 2rem;
		}
	}
	.game {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'VT323', monospace;
		background-color: $dark-color;
		&__box {
			display: flex;
			align-items: center;
			
			flex-direction: column;
			margin: 3em 1em;
			padding: 1.25em 1em 2em 0;
			width: clamp(280px, 90vw, 1200px);
			height: clamp(300px, 70vh, 600px);
			@include happy-colorGradient;
			border-radius: 15px;
			box-shadow: 0px 0px 5px rgb(70, 70, 70);
			&-img {
				background-size: contain;
				background-position: center;
				object-fit: contain;
				width: clamp(150px, 40%, 500px);
				margin: 0.5em 2.5em;
				border-radius: 15px;
			}
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				
				color: $white-color;
				margin: 1em 3em;
				text-shadow: 2px 2px 2px black;
				h2 {
					font-size: 2.4rem;
				}
				p {
					
					text-align: left;
					font-size: 1.9rem;
				}
			}
			&-btn {
				font-family: 'VT323', monospace;
				margin: 1em 1em;
				padding: 0.6em 1em;
				border-radius: 10px;
				border: none;
				cursor: pointer;
				background-color: #201bbe;
				color: $white-color;
				box-shadow: 2px 2px 6px rgba(34, 34, 34, 0.445);
				min-width: 30%;
				align-self: center;
				font-size: 2rem;
			}
		}
	}

	.segregation {
		min-height: 90vh;
		width: 100%;
		padding: 3em 0;
		background-color: $white-color;
		&__boxes {
			
			padding: 0em 2em;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			align-items: center;
			justify-content: center;
			gap: 2em;
			
		}
		&__text {
			
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 0.5em 1em;
			border-radius: 12px;

			h3 {
				font-size: 1.6rem;
				padding: 0.5em;
				font-family: 'Gemunu Libre', sans-serif;
			}
			ul {
				font-size: 1.3rem;
				text-align: left;
				padding-left: 1em;
				li {
					padding: 0.3em 0;
				}
			}
		}
		&__prosAndCons{
			display: flex;
			flex-direction: column;
			justify-content:space-evenly;
			h4{
				font-size: 1.5rem ;
				
			}
			&-pros h4{
				color: #11A854;
			}
			&-cons h4{
				color: $important-color;
			}
		}
	}
	img {
		align-items: center;
		justify-content: center;
		
		width: clamp(70px, 30vw, 170px);
		margin: 0 auto;
	}
	.segText1 {
		grid-row: 1/2;
		grid-column: 2/4;
		background-color: rgba(154, 154, 188, 0.592);
		box-shadow: rgba(204, 204, 234, 0.592) 0px 8px 24px;
	}
	.segImg1 {
		grid-row: 1/2;
		grid-column: 1/2;
		
	}

	.segText2 {
		grid-row: 2/3;
		grid-column: 1/3;
		background-color: rgba(134, 188, 134, 0.592);
		box-shadow: rgba(194, 238, 194, 0.592) 0px 8px 24px;
	}
	.segImg2 {
		grid-row: 2/3;
		grid-column: 3/4;
	}

	.segText3 {
		grid-row: 3/4;
		grid-column: 2/4;
		background-color: rgba(218, 218, 169, 0.592);
		box-shadow: rgba(234, 234, 184, 0.592) 0px 8px 24px;
	}
	.segImg3 {
		grid-row: 3/4;
		grid-column: 1/2;
	}

	.segText4 {
		
		grid-row: 4/5;
		grid-column: 1/3;
		background-color: rgba(144, 144, 144, 0.592);
		box-shadow: rgba(144, 144, 144, 0.592) 0px 8px 24px;
	}
	.segImg4 {
		grid-row: 4/5;
		grid-column: 3/4;
	}
	.segText5 {
		
		grid-row: 5/6;
		grid-column: 2/4;
		background-color: rgba(163, 107, 83, 0.397);
		box-shadow: rgba(163, 107, 83, 0.397) 0px 8px 24px;
	}
	.segImg5 {
		grid-row: 5/6;
		grid-column: 1/2;
	}
}

.footer {
	font-size: 1.5rem;
	width: 100%;
	background-color: $dark-color;
	color: $white-color;
	padding: 1em 0;
	margin: 0 auto;
	text-align: center;
}

@import './small';
@import './medium';
@import './large';
@import './xlarge';
@import './animations';
